/* css */
.logo {
    width: 9%;
    height: auto;
    padding-left: 22%;
}

.profily{
    width: auto;
    height: 320px;
    
}

.profily1{
    display:flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

h2 {
    text-align: center;
    margin-top: auto;
}

li {
    width: 100px;
    height: 40px;
    background: #FF8EE7;
    
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px 7px;
    
    font-family: sans-serif;
    font-size: 12px;
    color: black;

}

li:hover {
    padding: 5px 7px;
    background: #EE74D5;
    transition-duration: 0.5s;
    transform: translateY(-3px);
  }
  
ul {
    gap: 7px;
    display: flex;
    }

.top {
    margin-top: -120px;
    margin-right:60px;
    justify-content: center;
}