
.logo {
    width: 9%;
    height: auto;
    padding-left: 22%;
}


.profily{
    width: auto;
    height: 220px;
}


.profily1{
    display:flex;
    justify-content: space-around 40px;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;

}
h1 {
    text-align: center;
    margin-top: 2.5%;
    margin-right: 1.2%;
    font-size: 40px;
    font-family: "Baskerville", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: #E90074;
    letter-spacing: 5px;
}

h2 {
    text-align: center;
    margin-top: auto;
}

li:hover {
    padding: 5px 7px;
    background: #EE74D5;
    transition-duration: 0.5s;
    transform: translateY(-3px);
  }
  
ul {
    gap: 7px;
    display: flex;
    }

.top {
    margin-top: -120px;
    margin-right:60px;
    justify-content: center;
}

.text {
    font-family: 'Avenir Book', sans-serif;
    color: #FFF6F6;
}

.body{
    background-color: #d792d0;
    
}



li {
    width: 7%;
    height: 40px;
    background: #E90074;
    border-radius: 5px;

    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px 7px;

    font-size: 14px;
}




}/* .profily{
    width: auto;
    height: 320px;
 
}

.profily1{
    display:flex;
    justify-content: space-around;
}
    */