body {
    background-color: #FFF6F6;
}

.logo {
    width: 9%;
    height: auto;
    padding-left: 23%;
}

h1 {
    text-align: center;
    margin-top: 2.5%;
    margin-right: 1.2%;
    font-size: 40px;
}

li {
    width: 7%;
    height: 40px;
    background: #E90074;
    border-radius: 5px;

    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px 7px;

    font-size: 14px;
}

li:hover {
    padding: 5px 7px;
    background: #EE74D5;
    transition-duration: 0.5s;
    transform: translateY(-3px);
}

ul {
    gap: 6px;
    display: flex;
}

.top {
    margin-top: -120px;
    margin-right: 60px;
    justify-content: center;
}

.text {
    font-family: 'Avenir Book', sans-serif;
    color: #FFF6F6;
}

.nadpis {
    font-family: "Baskerville", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: #E90074;
    letter-spacing: 5px;
}

.zacatek {
    text-align: center;
    color: #182C25;
    font-family: 'Avenir Book', sans-serif;
    background: #e4d8c8;
    padding: 10px;
    font-size: 18px;
}



.kvet1 {
    display: flex;
    justify-content: space-evenly;
}

.kytka1 {
    position: relative;
    text-align: center;
    color: white;
}
.cena1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.kytka2 {
    position: relative;
    text-align: center;
    color: white;
}
.cena2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}



.kvet2 {
    display: flex;
    justify-content: space-evenly;
    background: #e4d8c8;
}

.kytka3 {
    position: relative;
    text-align: center;
    color: white;
}
.cena3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.kytka4 {
    position: relative;
    text-align: center;
    color: white;
}
.cena4 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}



.kvet3 {
    display: flex;
    justify-content: space-evenly;
}

.kytka5 {
    position: relative;
    text-align: center;
    color: white;
}
.cena5 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.kytka6 {
    position: relative;
    text-align: center;
    color: white;
}
.cena6 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:#E90074;
        font-family: 'Avenir Book', sans-serif;
        font-size: 18px;
        opacity: 0%;
        transition-duration: 3ms;
}
.cena6:hover {
    opacity: 60%;
}

.kvetiny {
    width: 400px;
    height: auto;
    border-radius: 80px;
    padding: 30px;
}

.kvetiny:hover {
    width: 400px;
    height: auto;
    border-radius: 80px;
    padding: 30px;
    filter: opacity(50%);
    transition-duration: 0.3s;
    
}
