body{
    background-color: #FFF6F6;
}
.logo {
    width: 9%;
    height: auto;
    padding-left: 20%;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-top: 2.5%;
    margin-right: 1%;
}

h2 {
    text-align: center;
    margin-top: auto;
}

li {
    width: 9%;
    height: 40px;
    background: #E90074;
    
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px 7px;
    margin-right: 10px;
    margin-top: auto;


    font-size: 15px;
}

li:hover {
    padding: 5px 7px;
    background: #EE74D5;
    transition-duration: 0.5s;
    transform: translateY(2px);
}
  
  
ul {
    display: flex;
    }

.top {
    margin-top: -175px;
    margin-right:60px;
    justify-content: center;
}

.ikony {
    opacity: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 7px;
    flex-direction: row;
    
}

.ikony:hover {
    opacity: 50%;
}

.text {
    font-family: 'Avenir Book', sans-serif;
    color: #182C25;

}
.top.block.text {
    color: #FFF6F6;
}
.nadpis {
    font-family: "Baskerville", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: #E90074;
    letter-spacing: 5px;
}

.com {
    width: 80%;
    height: 70px;
    background-color: #e4d8c8;
    margin-left: 10%;
    margin-top: auto;
    border-radius: 5px;

     
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 5px 7px;

    font-size: 15px;
    font-weight: 500;

    border: 2px solid #d2c7ba9f;
    border-radius: 5px; 
}


.rep{
    width: 75%;
    height: 70px;
    background: #FFF6F6;
    margin-left: 15%;
    margin-top: auto;
    border-radius: 5px;
    
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 5px 7px;

    font-size: 15px;
    font-weight: 500;
    border: 2px solid rgba(174, 173, 173, 0.571);
    border-radius: 5px;
}

.first {
    margin-top: 2%;
}

.rec:hover{
    opacity: 90%;
}
.name {
    margin-top: -2.1%;
    color: #182c25a7;

}

footer {
    width: 100%;
    height: 180px;
    background-color: #E90074;
    display: flex;
    align-items: center;
    line-height: 2;
    letter-spacing: 2px;

    justify-content: flex-start;
}



.info.nadpis {
    font-size: 25px;
    padding-left: 15%;
    color:#FFF6F6
    
}

#fcont {
    color: #FFF6F6;
    font-family: "Baskerville", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    padding-bottom: 9px;
}

.button {
    background-color: #FFF6F6;
    width: 7%;
    height: auto;
    border: 2px solid rgba(174, 173, 173, 0.571);
    border-radius: 5px;
    margin-left: 45%;
    margin-top: 1%;
    margin-bottom: 1%;
    
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px 7px;
}